<div class="container" *ngIf="albumsByPage.length">
  <ng-container *ngFor="let photo of albumsByPage; trackBy: photoTrackBy">
    <mat-card>
      <mat-card-header>
        {{ photo.title }}
      </mat-card-header>
      <mat-card-actions>
        <button mat-flat-button (click)="openDialog(photo)">View photo</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <mat-paginator
    (page)="changePage($event)"
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
