.toolbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;

  @media (min-width: 600px) {
    padding: 20px 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}

.content {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}